@page
@model ContosoPizza.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Employees Information</h1>

<form class="text-center">
Search:
    <input type="text" asp-for="SearchName" />
    <span class="form-group btn btn-primary btn-icon-split span-btn-search">
        <span class="icon text-white-50">
            <i class="fas fa-search"></i>
        </span>
        <input type="submit" value="Search" class="search" />
    </span>
</form>

<p class="text-center">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <img src="@item.Image" alt="Image" style="max-width: 200px; max-height: 200px;" />
            </td>
            <td>
                <div>
                        <a class="btn btn-primary btn-icon-split" asp-page="./Edit" asp-route-id="@item.Id">
                            <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                            </span>
                            <span class="text min-width-button-CRUD">Edit</span>
                        </a>
                </div>
                <div>
                        <a class="btn btn-info btn-icon-split" asp-page="./Details" asp-route-id="@item.Id">
                            <span class="icon text-white-50">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span class="text min-width-button-CRUD">Details</span>
                        </a>
                </div>
                <div>
                    <a class="btn btn-danger btn-icon-split" asp-page="./Delete" asp-route-id="@item.Id">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                            <span class="text min-width-button-CRUD">Delete</span>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
