@page
@model ContosoPizza.Pages.Coupons.IndexModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

@if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Employee" || HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
{
    <h1 class="text-center">Coupons</h1>
    <form method="get" class="text-center">
        <p>
            Filter:
            <select asp-for="Expire" id="selectExpireFilter">
                <option value="All">All</option>
                <option value="Expired">Expired Coupons</option>
                <option value="Available">Available Coupons</option>
            </select>
            <span class="form-group btn btn-primary btn-icon-split span-btn-search">
                <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                </span>
                <input type="submit" value="Search" class="search" />
            </span>
        </p>
    </form>
}
@if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
{
    <p class="text-center">
        <a class="btn btn-primary" asp-page="Create">Create New</a>
    </p>
}

@if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Employee" || HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
{
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Coupon Code
                </th>
                <th>
                    Discount Percentage
                </th>
                <th>
                    Expire Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coupon[0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Coupon)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountAmount)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                        @if (HttpContext.Session.GetString("UserRole") == "Admin")
                        {
                            <td>
                                <div>
                                    <a class="btn btn-primary btn-icon-split" asp-page="./Edit" asp-route-id="@item.Id">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text min-width-button-CRUD">Edit</span>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-info btn-icon-split" asp-page="./Details" asp-route-id="@item.Id">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                        <span class="text min-width-button-CRUD">Details</span>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-danger btn-icon-split" asp-page="./Delete" asp-route-id="@item.Id">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text min-width-button-CRUD">Delete</span>
                                    </a>
                                </div>
                            </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
    </div>
</div>
}
else
{
    @if(Model.Coupon.Count<=2)
    {
        <div class="padding-to-all text-center tab-content ftco-animate" style="min-height:700px">
            <h1>Coupons</h1>   
            <div class="row">
                @if(Model.Coupon.Count>0)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                @foreach(var item in Model.Coupon)
                                {
                                    <div class="col-md-6">
                                        <div class="coupon">
                                            <div class="container-coupon">
                                                <h3><span class="flaticon-pizza-1 mr-1">
                                                    Pizza<br>
                                                    </span>
                                                    <small>
                                                        Delicous
                                                    </small>
                                                </h3>
                                            </div>
                                            <div class="container-coupon" style="min-height:170px; background-color:#78efba!important">
                                                <h2><b>@item.DiscountAmount% OFF</b></h2>
                                                <p>@item.Description</p>
                                            </div>
                                            <div class="container-coupon" style="min-height:180px">
                                                <p>Use Promo Code: <span class="promo-coupon">@item.CouponCode</span></p>
                                                @if(@item.ExpireDate!=null)
                                                {
                                                    <p class="expire-coupon">Expires: @item.ExpireDate</p>
                                                }else
                                                {
                                                    <p class="expire-coupon">Expires: No limited</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>         
                        <div class="col-md-6 text-center">
                            <img src="~/EmployeePictures/pizza-steve-coupons.png" width="700" heiht="680"/>
                        </div>
                    </div>
                }else
                {
                    <div class="col-md-12" style="height:auto">
                        <img src="~/EmployeePictures/pizza-steve-no-coupons-available_transparent.png" style="max-height:500px">
                    </div>
                }
            </div>
            <div class="text-center fix_bottom" style="padding-top:100px">
                Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
            </div>     
        </div>
    }
    else
    {
        <div class="padding-to-all text-center tab-content ftco-animate" style="min-height:1050px">
            <h1>Coupons</h1>
            <div class="row">
                @if (Model.Coupon.Count > 0)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                @foreach (var item in Model.Coupon)
                                {
                                    <div class="col-md-6">
                                        <div class="coupon">
                                            <div class="container-coupon">
                                                <h3>
                                                    <span class="flaticon-pizza-1 mr-1">
                                                        Pizza<br>
                                                    </span>
                                                    <small>
                                                        Delicous
                                                    </small>
                                                </h3>
                                            </div>
                                            <div class="container-coupon" style="min-height:170px; background-color:#78efba!important">
                                                <h2><b>@item.DiscountAmount% OFF</b></h2>
                                                <p>@item.Description</p>
                                            </div>
                                            <div class="container-coupon" style="min-height:180px">
                                                <p>Use Promo Code: <span class="promo-coupon">@item.CouponCode</span></p>
                                                @if (@item.ExpireDate != null)
                                                {
                                                    <p class="expire-coupon">Expires: @item.ExpireDate</p>
                                                }
                                                else
                                                {
                                                    <p class="expire-coupon">Expires: No limited</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="~/EmployeePictures/pizza-steve-coupons.png" width="700" heiht="680" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12" style="height:auto">
                        <img src="~/EmployeePictures/pizza-steve-no-coupons-available_transparent.png" style="max-height:500px">
                    </div>
                }
            </div>
            <div class="text-center fix_bottom" style="padding-top:100px">
                Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
            </div>
        </div>
    }

}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var currentPage_coupon = localStorage.getItem('currentPage_coupon') || 1;

        if (!currentPage_coupon) {
            currentPage_coupon = 1;
        } else {
            currentPage_coupon = parseInt(currentPage_coupon); // Chuyển đổi thành số nguyên
        }

        // Cập nhật giá trị ban đầu của ô input
        document.getElementById('pageInput').value = currentPage_coupon;

        // Lắng nghe sự kiện khi người dùng thay đổi giá trị trong ô input
        document.getElementById('pageInput').addEventListener('input', function (event) {
            currentPage_coupon = event.target.value; //target dùng để nhận biết xem là ô nào vừa thay đổi
        });


        // Lắng nghe sự kiện khi người dùng kết thúc nhập giá trị vào ô input (nhấn Enter)
        document.getElementById('pageInput').addEventListener('change', function (event) {
            updateLink(currentPage_coupon);
        });

        function updateLink(value) {
            // Lưu giá trị trang hiện tại vào localStorage
            localStorage.setItem('currentPage_coupon', value);

            window.location.href = `?Page=${value}&&Expire=@Model.Expire`;
        }
    </script>
}