@page
@model ContosoPizza.Pages.Orders.CreateModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <h1>Create</h1>

        <h4>Order</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.OrderPlacedAt" class="control-label"></label>
                <input asp-for="Order.OrderPlacedAt" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                <span asp-validation-for="Order.OrderPlacedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderFullFilledAt" class="control-label"></label>
                <input asp-for="Order.OrderFullFilledAt" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                <span asp-validation-for="Order.OrderFullFilledAt" class="text-danger"></span>
            </div>
            @if (HttpContextAccessor.HttpContext.Session.Keys.Contains("UserRole"))
            {
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Employee")
                {
                    <div class="form-group">
                        <label asp-for="Order.EmployeeId" class="control-label"></label>
                        <select asp-for="Order.EmployeeId" class="form-control" asp-items="@ViewBag.EmployeeId" readonly></select>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input id="IsCustomerMember" class="form-check-input" asp-for="Order.IsCustomerMember" />
                            @Html.DisplayNameFor(model => model.Order.IsCustomerMember)
                            <input type="hidden" asp-for="Order.IsCustomerMember" /> <!-- Thêm input hidden để lưu trữ giá trị trước đó -->
                        </label>
                    </div>
                }
            }

            <div class="form-group" id="PhoneNumber">
                <label asp-for="Order.NoneCustomerMemberPhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="Order.NoneCustomerMemberPhoneNumber" class="form-control" />
            </div>
            <div class="form-group" id="EmailAddress">
                <label asp-for="Order.NoneCustomerMemberEmailAddress" class="control-label">Email Address</label>
                <input asp-for="Order.NoneCustomerMemberEmailAddress" class="form-control" />
            </div>
            <div class="form-group" id="CustomerIdContainer" style="display: none;">
                <label asp-for="Order.CustomerId" class="control-label">Customer</label>
                <select asp-for="Order.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group" id="CouponIdContainer" style="display: none;">
                <label asp-for="Order.CouponId" class="control-label">Coupon Code</label>
                <select asp-for="Order.CouponId" class="form-control" asp-items="ViewBag.CouponId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderStatusId" class="control-label">OrderStaus</label>
                <select asp-for="Order.OrderStatusId" class="form-control" asp-items="ViewBag.OrderStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.DeliveryMethodId" class="control-label">DeliveryMethod</label>
                <select asp-for="Order.DeliveryMethodId" class="form-control" asp-items="ViewBag.DeliveryMethodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentMethodId" class="control-label">PaymentMethod</label>
                <select asp-for="Order.PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.PlacedAddress" class="control-label">PlacedAddress</label>
                <input asp-for="Order.PlacedAddress" class="form-control" />
                <span asp-validation-for="Order.PlacedAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" name="createButton" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
        <h1>Find</h1>

        <h4>Customer Member</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.Email" class="control-label"></label>
                <input asp-for="Customer.Email" class="form-control" placeholder="Enter Customer's email here" />
                <span asp-validation-for="Order.Customer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Find" name="findButton" class="btn btn-primary" />
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>|</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.LastName)
                    </th>
                    <th>|</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Address)
                    </th>
                    <th>|</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Phone)
                    </th>
                    <th>|</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.Email)
                    </th>
                    <th>|</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>|</th>
                    <th>
                        @Html.DisplayFor(model => model.Customer.Id)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Customer.LastName)
                    </th>
                    <th>|</th>
                    <th>
                        @Html.DisplayFor(model => model.Customer.Address)
                    </th>
                    <th>|</th>
                    <th>
                        @Html.DisplayFor(model => model.Customer.Phone)
                    </th>
                    <th>|</th>
                    <th>
                        @Html.DisplayFor(model => model.Customer.Email)
                    </th>
                    <th>|</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var errorMessage = '@Model.ErrorMessage';
            if (errorMessage !== '') {
                $('#errorModal').modal('show');
            }
            $('#errorModal .close').click(function () {
                $('#errorModal').modal('hide');
            });
            $('#errorModal button[data-dismiss="modal"]').click(function () {
                $('#errorModal').modal('hide');
            });
        });

        $(document).ready(function () {
            $('#IsCustomerMember').change(function () {
                var isMember = $(this).prop('checked');
                showHideCustomerMemberFields(isMember);
            });

            function showHideCustomerMemberFields(isMember) {
                if (isMember) {
                    $('#CustomerIdContainer').show();
                    $('#CouponIdContainer').show();
                    $('#PhoneNumber').hide();
                    $('#EmailAddress').hide();
                } else {
                    $('#CustomerIdContainer').hide();
                    $('#CouponIdContainer').hide();
                    $('#PhoneNumber').show();
                    $('#EmailAddress').show();
                }
            }
        });
    </script>
}

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Model.ErrorMessage
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>