@page
@model ContosoPizza.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderPlacedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderPlacedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderFullFilledAt)
        </dt>
        @if (Model.Order.OrderFullFilledAt != null)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.OrderFullFilledAt)
            </dd>
        }else
        {
            <dd class="col-sm-10">
                NONE
            </dd>
        }
        <dt class="col-sm-2">
            Creator/Editor
        </dt>       
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Employee.FirstName)
            @Html.DisplayFor(model => model.Order.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Coupon)
        </dt>
        @if (Model.Order.Coupon != null)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.Coupon.CouponCode)
            </dd>
        }else
        {
            <dd class="col-sm-10">
                NONE
            </dd>
        }       
        @if (Model.Order.Customer != null)
        {
            <dt class="col-sm-2">
                CustomerId
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.Customer.Id)
            </dd>
            <dt class="col-sm-2">
                CustomerName
            </dt>       
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.Customer.FirstName)
                @Html.DisplayFor(model => model.Order.Customer.LastName)
            </dd>
        }else
        {
            <dt class="col-sm-2">
                EmailAddress(NC)
            </dt>
            @if (Model.Order.NoneCustomerMemberEmailAddress != null)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Order.NoneCustomerMemberEmailAddress)
                </dd>
            }else
            {
                <dd class="col-sm-10">
                    NONE
                </dd>
            }
            <dt class="col-sm-2">
                PhoneNumber(NC)
            </dt>
            @if (Model.Order.NoneCustomerMemberPhoneNumber != null)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Order.NoneCustomerMemberPhoneNumber)
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    NONE
                </dd>
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus.StatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DeliveryMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DeliveryMethod.Method)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentMethod.Method)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.BillPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.BillPrice)
        </dd>
    </dl>
</div>
<div>
    <a>
        <a class="btn btn-primary btn-icon-split" asp-page="./Edit" asp-route-id="@Model.Order?.Id">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text min-width-button-CRUD">Edit</span>
        </a>
    </a> |
    <a class="btn btn-primary" asp-page="./Index">Back to list</a>
</div>
