@page
@model ContosoPizza.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="padding-to-all tab-content ftco-animate height-min-1000">
    
    @if(HttpContextAccessor.HttpContext.Session.GetString("UserRole")=="Customer")
    {
        <h1 class="text-center">Order history</h1>
        <form class="text-center">
            <p>
                OrderStatus:
                <select asp-for="searchOrderStatus" asp-items="Model.searchOrderStatuses">
                    <option value="">Active Orders</option>
                    <option value="All">All Orders</option>                     
                </select>
                &nbsp;&nbsp;
                DeliveryMethod:
                <select asp-for="searchDeliveryMethod" asp-items="Model.searchDeliveryMethods">
                    <option value="">All</option>
                </select>
                &nbsp;&nbsp;
                PaymentMethod:
                <select asp-for="searchPaymentMethod" asp-items="Model.searchPaymentMethods">
                    <option value="">All</option>
                </select>
            </p>
            <p>
                From Date:
                <input type="date" asp-for="FromDate" id="fromDateInput" />
                &nbsp;&nbsp;
                To Date:
                <input type="date" asp-for="ToDate" id="toDateInput" />
            </p>
            <input type="submit" value="Search" class="search" />
        </form>
        @if (Model.Order.Count == 0)
        {
            <div class="col-md-12 text-center">
                <img src="/EmployeePictures/pizza-steve-no-orders.png" alt="No Orders" />
            </div>

            <div class="text-center fix_bottom">
                Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
            </div>
        }
        else
        {
            <div class="row">
                <div class="text-center col-md-6">
                    <img src="/EmployeePictures/pizza-steve-order-history.png" alt="Order History" width="800" height="550" style="padding-top:100px" />
                </div>
                <div class="text-center col-md-6">
                    @foreach (var item in Model.Order)
                    {
                        <div class="col-md-12" style="padding:10px">
                            <div class="coupon">
                                <div class="container-coupon">
                                    <h3>
                                        <span class="flaticon-pizza-1 mr-1">
                                            Pizza<br />
                                        </span>
                                        <small>
                                            Delicous
                                        </small>
                                    </h3>
                                </div>
                                <div class="container-coupon background-image-order" style="color:black">
                                    <p>Delivery Method: @item.DeliveryMethod.Method</p>
                                    <p>Payment Method: @item.PaymentMethod.Method</p>
                                    <p>Placed Address: @item.PlacedAddress</p>
                                    <p>Bill Price: $@item.BillPrice </p>                                 
                                </div>
                                <div class="container-coupon">
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Employee")
                                    {

                                    }
                                    else
                                    {
                                        <a href="/OrderDetails/Create?orderId=@item.Id">Details</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="text-center fix_bottom">
                Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
            </div>
        }

    }
    else if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Employee")
    {
        <h1 class="text-center">Orders Processing</h1>
        <form class="text-center">
            <p>
                OrderStatus:
                <select asp-for="searchOrderStatus" asp-items="Model.searchOrderStatuses">
                    <option value="">Active Orders</option>
                    <option value="All">All Orders</option>
                </select>
                &nbsp;&nbsp;
                DeliveryMethod:
                <select asp-for="searchDeliveryMethod" asp-items="Model.searchDeliveryMethods">
                    <option value="">All</option>
                </select>
                &nbsp;&nbsp;
                PaymentMethod:
                <select asp-for="searchPaymentMethod" asp-items="Model.searchPaymentMethods">
                    <option value="">All</option>
                </select>
            </p>
            <p>
                From Date:
                <input id="fromDateInput" type="date" asp-for="FromDate" />
                &nbsp;&nbsp;
                To Date:
                <input id="toDateInput" type="date" asp-for="ToDate" />
                &nbsp;&nbsp;
                <span class="form-group btn btn-primary btn-icon-split span-btn-search">
                    <span class="icon text-white-50">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="submit" value="Search" class="search" />
                </span>
            </p>
                
        </form>
        <p class="text-center">
            <a class="btn btn-primary" asp-page="Create">Create New</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Warning
                    </th>
                    <th>
                        Creator/ Editor
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order[0].Coupon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order[0].DeliveryMethod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order[0].PaymentMethod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order[0].PlacedAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order[0].BillPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Order)
                {
                    <tr>
                        <td>
                            <span id="status-@item.Id">
                                @if (item.IsOverWaitingTime == true || item.IsOverMakingTime == true || item.IsOverDeliveringTime == true)
                                {
                                    <span href="#" class="btn btn-warning btn-circle" data-toggle="tooltip" data-placement="top" title="@item.OrderNotification">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                }
                            </span>
                        </td>
                        <td>                        
                            @Html.DisplayFor(modelItem => item.Employee.FirstName)
                            @Html.DisplayFor(modelItem => item.Employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Coupon.CouponCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStatus.StatusName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryMethod.Method)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod.Method)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlacedAddress)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.BillPrice)
                        </td>
                        <td>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Employee")
                            {
                                <div>
                                    <a class="btn btn-primary btn-icon-split" asp-page="./Edit" asp-route-id="@item.Id">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text min-width-button-CRUD">Edit</span>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-info btn-icon-split" asp-page="./Details" asp-route-id="@item.Id">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                        <span class="text min-width-button-CRUD">Details</span>
                                    </a>
                                </div>
                                <div>
                                    <form asp-route-id="@item.Id" method="post">
                                        <span class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <input name="Delete" type="submit" value="Delete" class="text min-width-button-CRUD" style="background-color:red; border:none; color:white;">
                                        </span>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <a href="/OrderDetails/Create?orderId=@item.Id" class="btn btn-primary">Details</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center fix_bottom">
            Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
        </div>
    }
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>      
       $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage !== '') {
                $('#errorModal').modal('show');
            }
            $('#errorModal .close').click(function () {
                $('#errorModal').modal('hide');
            });
            $('#errorModal button[data-dismiss="modal"]').click(function () {
                $('#errorModal').modal('hide');
            });
        });

        var currentPage = localStorage.getItem('currentPage') || 1;

        // Cập nhật giá trị ban đầu của ô input
        document.getElementById('pageInput').value = currentPage;

        // Lắng nghe sự kiện khi người dùng thay đổi giá trị trong ô input
        document.getElementById('pageInput').addEventListener('input', function (event) {
            currentPage = event.target.value; //target dùng để nhận biết xem là ô nào vừa thay đổi
        });

        // Lắng nghe sự kiện khi người dùng kết thúc nhập giá trị vào ô input (nhấn Enter)
        document.getElementById('pageInput').addEventListener('change', function (event) {
            updateLink(currentPage);
        });


        function updateLink(currentPage) {
            var fromDateValue = document.getElementById('fromDateInput').value;
            var toDateValue = document.getElementById('toDateInput').value;

            // Lưu giá trị trang hiện tại vào localStorage
            localStorage.setItem('currentPage', currentPage);

            // Cập nhật URL với giá trị fromDateValue và toDateValue
            window.location.href = `?Page=${currentPage}&searchOrderStatus=@Model.searchOrderStatus&searchDeliveryMethod=@Model.searchDeliveryMethod&searchPaymentMethod=@Model.searchPaymentMethod&FromDate=${fromDateValue}&ToDate=${toDateValue}`;
        }
        
    </script>
}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body alert">
                @TempData["ErrorMessage"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>