@page
@model ContosoPizza.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Category.CategoryName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Materials)
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Materials
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Product.Image" alt="Image" style="max-width: 200px; max-height: 200px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.Id">Edit</a> |
    <a href="./?Page=@(Model.skippedcount/5+1)">Back to List</a>
</div>


