@page "{SearchString?}"
@model ContosoPizza.Pages.Products.IndexModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

@if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Employee" || HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
{
    <h1 class="text-center product-text" style="padding-bottom:50px">Products</h1>
    <form class="text-center" id="foodForm" method="get">
        <div class="row mx-auto col-md-10 justify-content-center">
            <div class="col-md-6">
                <label class="text-center">Food Categories:</label>
                <select id="foodCategorySelect" class="beauty-select-input text-center">
                    <option value="">All</option>
                    <optgroup label="Main Course">
                        <option value="Main Course_Beef">Beef</option>
                        <option value="Main Course_Chicken">Chicken</option>
                        <option value="Main Course_Fish">Fish</option>
                        <option value="Main Course_Lobster">Lobster</option>
                    </optgroup>
                    <optgroup label="Appetizer">
                        <option value="Appetizer_Spaghetti">Spaghetti</option>
                        <option value="Appetizer_Salad">Salad</option>
                        <option value="Appetizer_Vegetable">Vegetable</option>
                    </optgroup>
                    <optgroup label="Beverage">
                        <option value="Beverage_Carbonated">Carbonated Drink</option>
                        <option value="Beverage_Juice">Fresh Juice</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <input type="hidden" name="Food_Category" value="">
        <input type="hidden" name="Food_Type" value="">
        &nbsp;&nbsp;
        Search: <input type="text" asp-for="SearchString" />
        <span class="form-group btn btn-primary btn-icon-split span-btn-search">
            <span class="icon text-white-50">
                <i class="fas fa-search"></i>
            </span>
            <input type="submit" value="Search" class="search" />
        </span>
    </form>




    <p class="text-center">

        @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
        {
             <a class="btn btn-primary" asp-page="Create">Create New</a>
        }

    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Materials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materials)
                    </td>
                    <td>
                        <img src="@item.Image" width="200" height="200">
                    </td>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
                    {
                        <td>
                            <div>
                                <a class="btn btn-primary btn-icon-split" asp-page="./Edit" asp-route-id="@item.Id">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-flag"></i>
                                    </span>
                                    <span class="text min-width-button-CRUD">Edit</span>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-info btn-icon-split" asp-page="./Details" asp-route-id="@item.Id">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                    <span class="text min-width-button-CRUD">Details</span>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-danger btn-icon-split" asp-page="./Delete" asp-route-id="@item.Id">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text min-width-button-CRUD">Delete</span>
                                </a>
                            </div>
                        </td>
                    }else if(HttpContext.Session.GetString("UserRole")=="Employee")
                    {
                        <td>
                            <div>
                                <a class="btn btn-info btn-icon-split" asp-page="./Details" asp-route-id="@item.Id">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                    <span class="text min-width-button-CRUD">Details</span>
                                </a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center fix_bottom">
        Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
    </div>
}
else
{
    <div style="height:auto" class="padding-to-all" >
        <h1 class="text-center product-text" style="padding-bottom:50px">Products</h1>
        <form class="text-center" id="foodForm" method="get">
            <div class="row mx-auto col-md-10 justify-content-center">
                <div class="col-md-6">
                    <label class="text-center">Food Categories:</label>
                    <select id="foodCategorySelect" class="beauty-select-input text-center">
                        <option value="">All</option>
                        <optgroup label="Main Course">
                            <option value="Main Course_Beef">Beef</option>
                            <option value="Main Course_Chicken">Chicken</option>
                            <option value="Main Course_Fish">Fish</option>
                            <option value="Main Course_Lobster">Lobster</option>
                        </optgroup>
                        <optgroup label="Appetizer">
                            <option value="Appetizer_Spaghetti">Spaghetti</option>
                            <option value="Appetizer_Salad">Salad</option>
                            <option value="Appetizer_Vegetable">Vegetable</option>
                        </optgroup>
                        <optgroup label="Beverage">
                            <option value="Beverage_CarbonatedDrink">Carbonated Drink</option>
                            <option value="Beverage_FreshJuice">Fresh Juice</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <input type="hidden" name="Food_Category" value="">
            <input type="hidden" name="Food_Type" value="">
            &nbsp;&nbsp;
            Search: <input type="text" asp-for="SearchString" />
            <span class="form-group btn btn-primary btn-icon-split span-btn-search">
                <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                </span>
                <input type="submit" value="Search" class="search" />
            </span>
        </form>

        <p>
            @if (HttpContextAccessor.HttpContext.Session.Keys.Contains("UserRole"))
            {
                if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
                {
                    <a asp-page="Create">Create New</a>
                }
            }
        </p>
        @if (Model.Product.Count >= 4)
            {
                <div class="col-md-12 d-flex align-items-center">
                    <div class="tab-content ftco-animate" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                        <div class="row">
                                @foreach (var item in Model.Product)
                                {
                                    @if (Model.Product.Count >= 4)
                                    {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="/Products/Details?id=@item.Id" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                                            <div class="text product-text">
                                                    <h3><a href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                                    <p>@item.Description</p>
                                                    <p>Category: @item.Category.CategoryName</p>
                                                    <p class="price"><span>$@item.UnitPrice</span></p>
                                                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Customer" || !HttpContextAccessor.HttpContext.Session.Keys.Contains("UserRole"))
                                                    {
                                                        <p>
                                                            <form method="post">
                                                                <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                                            </form>
                                                        </p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                    </div>
                </div>
            </div>
            }

            @foreach (var item in Model.Product)
            {
                @if (Model.Product.Count == 1)
                {
                    <div class="col-md-12 align-items-center" style="height:auto">
                        <div class="menu-wrap text-center">
                            <a href="/Products/Details?id=@item.Id" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                            <div class="text">
                                <h3><a href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                <p>@item.Description</p>
                                <p>Category: @item.Category.CategoryName</p>
                                <p class="price"><span>$@item.UnitPrice</span></p>
                                @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Customer" || !HttpContextAccessor.HttpContext.Session.Keys.Contains("UserRole"))
                                {
                                    <p>
                                        <form method="post">
                                            <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                        </form>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            @if (Model.Product.Count == 2)
            {
                <div class="row" style="height:auto">
                @foreach (var item in Model.Product)
                { 
                    <div class="col-md-6 align-items-center "style=" justify-content:flex-start">
                        <div class="menu-wrap text-center">
                            <a href="/Products/Details?id=@item.Id" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                            <div class="text">
                                <h3><a href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                <p>@item.Description</p>
                                    <p>Category: @item.Category.CategoryName</p>
                                <p class="price"><span>$@item.UnitPrice</span></p>
                                @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Customer" || !HttpContextAccessor.HttpContext.Session.Keys.Contains("UserRole"))
                                {
                                    <p>
                                        <form method="post">
                                            <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                        </form>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
        
                }
                </div>
            }

            @if (Model.Product.Count == 3)
            {
                <div class="row" style="height:auto">
                    @foreach (var item in Model.Product)
                    {

                        <div class="col-md-4 align-items-center">
                            <div class="menu-wrap text-center">
                                <a href="/Products/Details?id=@item.Id" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                                <div class="text">
                                    <h3><a href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                    <p>@item.Description</p>
                                    <p>Category: @item.Category.CategoryName</p>
                                    <p class="price"><span>$@item.UnitPrice</span></p>
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Customer" || !HttpContextAccessor.HttpContext.Session.Keys.Contains("UserRole"))
                                    {
                                        <p>
                                            <form method="post">
                                                <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                            </form>
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>

                    }
                </div>
            }
        @if(Model.Product.Count==0)
        {
            <div class="text-center col-md-12" style="height:auto">
                <img src="~/EmployeePictures/pizza-steve-cantsearch.png">
            </div>
        }
        @if (Model.Product.Count != 0)
        {
            <div class="text-center" style="padding-top:50px">
                Page: <input type="number" id="pageInput" style="color:black; font-weight:bold; font-size: 30px; max-width: 50px" min="1" step="1">
            </div>
        }
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const foodForm = document.getElementById('foodForm');
        const foodCategorySelect = document.getElementById('foodCategorySelect');
        const foodCategoryInput = document.querySelector('input[name="Food_Category"]');
        const foodTypeInput = document.querySelector('input[name="Food_Type"]');

        // Hàm để gán giá trị cho "Food_Category" và "Food_Type"
        function setFoodCategoryAndType(category, food) {
            foodCategoryInput.value = category.replace('_', '%20'); // Thay thế _ bằng %20 trong giá trị gán cho input ẩn
            foodTypeInput.value = food.replace('_', '%20'); // Thay thế _ bằng %20 trong giá trị gán cho input ẩn
        }

        // Lấy giá trị đã lưu trong session storage và cập nhật lại ô select
        const savedFoodCategory = sessionStorage.getItem('foodCategoryValue');
        if (savedFoodCategory) {
            foodCategorySelect.value = savedFoodCategory;
            const [category, food] = savedFoodCategory.split('_');
            setFoodCategoryAndType(category, food);
        }

        // Xử lý sự kiện "change" của select
        foodCategorySelect.addEventListener('change', function () {
            const selectedValue = foodCategorySelect.value;

            // Tách giá trị đã chọn thành danh mục và tùy chọn
            const [category, food] = selectedValue.split('_');

            // Lưu giá trị đã chọn vào session storage
            sessionStorage.setItem('foodCategoryValue', selectedValue);

            // Gán giá trị cho "Food_Category" và "Food_Type"
            setFoodCategoryAndType(category, food);
        });

        // Xử lý sự kiện "submit" của form
        foodForm.addEventListener('submit', function (event) {
            // Nếu người dùng chọn "All", đặt giá trị của "Food_Type" về null
            if (foodCategorySelect.value === "") {
                foodTypeInput.value = null;
            }

            // Lưu giá trị đã chọn vào session storage trước khi submit
            const selectedValue = foodCategorySelect.value;
            sessionStorage.setItem('foodCategoryValue', selectedValue);
        });

        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage !== '') {
                $('#errorModal').modal('show');
            }
            $('#errorModal .close').click(function () {
                $('#errorModal').modal('hide');
            });
            $('#errorModal button[data-dismiss="modal"]').click(function () {
                $('#errorModal').modal('hide');
            });
        });

        var currentPage = localStorage.getItem('currentPage') || 1;

        if (!currentPage) {
            currentPage = 1;
        } else {
            currentPage = parseInt(currentPage); // Chuyển đổi thành số nguyên
        }

        // Cập nhật giá trị ban đầu của ô input
        document.getElementById('pageInput').value = currentPage;

        // Lắng nghe sự kiện khi người dùng thay đổi giá trị trong ô input
        document.getElementById('pageInput').addEventListener('input', function (event) {
            currentPage = event.target.value; //target dùng để nhận biết xem là ô nào vừa thay đổi
        });

        // Lắng nghe sự kiện khi người dùng kết thúc nhập giá trị vào ô input (nhấn Enter)
        document.getElementById('pageInput').addEventListener('change', function (event) {
            updateLink(currentPage);
        });

        function updateLink(value) {
            // Lưu giá trị trang hiện tại vào localStorage
            localStorage.setItem('currentPage', value);

            window.location.href = `?Page=${value}&Food_Category=@Model.Food_Category&Food_Type=@Model.Food_Type&SearchString=@Model.SearchString`;
        }
    </script>
}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body alert">
                @TempData["ErrorMessage"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>