@page
@{
    ViewData["Title"] = "Home";
}
@model ContosoPizza.Pages.Home.HomeModel

    <section class="home-slider owl-carousel img" style="background-image: url(/BackgroundImages/Background_1.jpg)">
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center" data-scrollax-parent="true">
                    <div class="col-md-6 col-sm-12 ftco-animate">
                        <span class="subheading">Delicious</span>
                        <h1 class="mb-4">Italian Cuizine</h1>
                        <p class="mb-4 mb-md-5">Enjoy our incredible food and beverages of our excellent chefs.</p>
                        <p>
                        <form method="post" class="btn">
                            <input type="submit" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3" value="Add to cart" asp-route-id="25">
                        </form>
                            <a href="/Products" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a>
                        </p>
                    </div>
                    <div class="col-md-6 ftco-animate">
                        <img src="/pizza-gh-pages/images/bg_1.png" class="img-fluid" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center" data-scrollax-parent="true">

                    <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                        <span class="subheading">Crunchy</span>
                        <h1 class="mb-4">Italian Pizza</h1>
                        <p class="mb-4 mb-md-5">Enjoy our incredible food and beverages of our excellent chefs.</p>
                        <p>
                            <form method="post" class="btn">
                                <input type="submit" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3" value="Add to cart" asp-route-id="25">
                             </form>
                            <a href="/Products" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a>
                        </p>
                    </div>
                    <div class="col-md-6 ftco-animate">
                    <img src="/pizza-gh-pages/images/bg_2.png" class="img-fluid" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(/BackgroundImages/Background_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Welcome</span>
                        <h1 class="mb-4">We cooked your desired Pizza Recipe</h1>
                        <p class="mb-4 mb-md-5">Enjoy our incredible food and beverages of our excellent chefs.</p>
                        <p>
                            <a href="/Products" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> 
                            <a href="/Products" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro">
        <div class="container-wrap">
            <div class="wrap d-md-flex">
                <div class="info">
                    <div class="column">
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex ftco-animate">
                                <div class="icon"><span class="icon-phone"></span></div>
                                <div class="text">
                                    <h3>(+84) 0972715602</h3>
                                    <p style="color:white; font-weight:bold">To call Pizza Steve</p>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex ftco-animate">
                                <div class="icon"><span class="icon-my_location"></span></div>
                                <div class="text">
                                    <h3>The one and only</h3>
                                <p style="color:white; font-weight:bold">P206 C7B Quynh Mai St</p>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex ftco-animate">
                                <div class="icon"><span class="icon-clock-o"></span></div>
                                <div class="text">
                                    <h3>Open Monday-Friday</h3>
                                    <p style="color:white; font-weight:bold">8:00am - 9:00pm</p>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters col-md-12">
                             <img style="border-radius:10px" src="/EmployeePictures/pizza-steve-calls.png" height="300" class="col-md-6"/>
                             <p style="color:white; font-weight:bold; text-align:center" class="col-md-6 d-flex justify-content-center align-items-center">Contact or meet Pizza Steve whenever you like during weekdays</p>
                        </div>
                    </div>
                </div>
                <div class="social d-md-flex pl-md-5 p-4 align-items-center">
                    <ul class="social-icon">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                <div class="black-text">
                        Contact us through social medias like twitter, facebook or instagram to have more details
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(/pizza-gh-pages/images/about.jpg);"></div>
        <div class="one-half ftco-animate">
            <div class="heading-section ftco-animate ">
            <h2 class="mb-4 black-text">Welcome to <span style="color:white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-weight:bold;" class="flaticon-pizza">PizzaSteve</span> A Restaurant</h2>
            </div>
            <div class="column">
                <img src="/EmployeePictures/pizza-steve-welcome.png" width="450" height="350" class="col-md-12"/>
                <div class="col-md-12 row">
                    <p>Go to our restaurant to have wonderful meals and make Pizza Steve happy</p>
                    <p>
                        Love you <span style="color:black" class="icon-heart"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-services">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Our Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Healthy Foods</h3>
                            <p>We provide you with fresh, delicious food and beverages. They are all made by our talented chefs. Eat our food and stay healthy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <span class="flaticon-bicycle"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Fastest Delivery</h3>
                            <p>No matters how far and how long, we will ship your food in front of your doors. Watch the phone carefully because we will be there in no time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5"><span class="flaticon-pizza-1"></span></div>
                        <div class="media-body">
                            <h3 class="heading">Original Recipes</h3>
                            <p>Our food and beverages are made from uniqe recipes, you will be amazed in each slide you eat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4 black-text">Hot Pizza Meals</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-md-5 text-center">
                    <img src="~/EmployeePictures/pizza-steve-rock.png" width="200" height="200"/>
                </div>
            </div>
        </div>
        <div class="container-wrap">
            <div class="row no-gutters d-flex">
                @foreach (var item in Model.ProductsList)
                {
                    <div class="col-lg-4 d-flex ftco-animate">
                        <div class="services-wrap d-flex">
                            <a href="#" class="img" style="background-image: url(@item.Image);"></a>
                            <div class="text p-4">
                            <h3 class="black-text" style="font-weight:bold">@item.ProductName</h3>
                                <p>@item.Description </p>
                                <p class="price">
                                    <span>$@item.UnitPrice</span>
                                    <form method="post">
                                        <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                }             
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4 black-text">Our Menu Pricing</h2>
                    <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                    <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-1.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Italian Pizza</span></h3>
                                <span class="price">$20.00</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-2.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Hawaiian Pizza</span></h3>
                                <span class="price">$29.00</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-3.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Greek Pizza</span></h3>
                                <span class="price">$20.00</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-4.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Bacon Crispy Thins</span></h3>
                                <span class="price">$20.00</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-5.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Hawaiian Special</span></h3>
                                <span class="price">$49.91</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-6.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Ultimate Overload</span></h3>
                                <span class="price">$20.00</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-7.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Bacon Pizza</span></h3>
                                <span class="price">$20.00</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(/pizza-gh-pages/images/pizza-8.jpg);"></div>
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><span>Ham &amp; Pineapple</span></h3>
                                <span class="price">$20.00</span>
                            </div>
                            <div class="d-block">
                                <p>A small river named Duden flows by their place and supplies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <a class="fix-a-href" href="/Products">Go to see more wonderful products</a>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-gallery">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-3 ftco-animate">
                <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(/pizza-gh-pages/images/gallery-1.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(/pizza-gh-pages/images/gallery-2.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(/pizza-gh-pages/images/gallery-3.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="#" class="gallery img d-flex align-items-center" style="background-image: url(/pizza-gh-pages/images/gallery-4.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(/pizza-gh-pages/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-pizza-1"></span></div>
                                    <strong class="number" data-number="1">0</strong>
                                    <span>Pizza Branches</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-medal"></span></div>
                                    <strong class="number" data-number="8">0</strong>
                                    <span>Number of Awards</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-laugh"></span></div>
                                    <strong class="number" data-number="1056">0</strong>
                                    <span>Happy Customer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="flaticon-chef"></span></div>
                                    <strong class="number" data-number="20">0</strong>
                                    <span>Staff</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-menu">
        <div class="container-fluid">
            <div class="row d-md-flex">
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(/pizza-gh-pages/images/about.jpg);">
                </div>
                <div class="col-lg-8 ftco-animate p-md-5">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap mb-5">
                            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active border-navs-home" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Pizza</a>

                                <a class="nav-link border-navs-home" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>

                                <a class="nav-link border-navs-home" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Burgers</a>

                            <a class="nav-link border-navs-home" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Pasta</a>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-items-center">

                            <div class="tab-content ftco-animate" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                    <div class="row">
                                        @foreach(var item in Model.MostFavourablePizzas)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                                                    <div class="text">
                                                    <h3><a class="black-text" href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                                        <p>@item.Description</p>
                                                        <p class="price"><span>$@item.UnitPrice</span></p>
                                                            <form method="post" class="btn">
                                                            <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                    <div class="row">
                                        @foreach (var item in Model.MostFavourableDrinks)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                                                    <div class="text">
                                                    <h3><a class="black-text" href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                                        <p>@item.Description</p>
                                                        <p class="price"><span>$@item.UnitPrice</span></p>
                                                        <form method="post" class="btn">
                                                            <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                    <div class="row">
                                        @foreach (var item in Model.MostFavourableBurgers)
                                        {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                                                <div class="text">
                                                    <h3><a class="black-text" href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                                    <p>@item.Description</p>
                                                    <p class="price"><span>$@item.UnitPrice</span></p>
                                                    <form method="post" class="btn">
                                                        <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        }                                      
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                    <div class="row">
                                    @foreach (var item in Model.MostFavourablePastas)
                                        {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url(@item.Image);"></a>
                                                <div class="text">
                                                    <h3><a class="black-text" href="/Products/Details?id=@item.Id">@item.ProductName</a></h3>
                                                    <p>@item.Description</p>
                                                    <p class="price"><span>$@item.UnitPrice</span></p>
                                                    <form method="post" class="btn">
                                                        <input type="submit" value="Add to cart" asp-route-id="@item.Id">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        }                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Recent from blog</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/pizza-gh-pages/images/image_1.jpg');">
                        </a>
                        <div class="text py-4 d-block">
                            <div class="meta">
                                <div><a href="#">Sept 10, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">The Delicious Pizza</a></h3>
                            <p>Enjoy our incredible food and beverages of our excellent chefs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/pizza-gh-pages/images/image_2.jpg');">
                        </a>
                        <div class="text py-4 d-block">
                            <div class="meta">
                                <div><a href="#">Sept 10, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">The Delicious Pizza</a></h3>
                            <p>Enjoy our incredible food and beverages of our excellent chefs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                    <a href="/pizza-gh-pages/blog-single.html" class="block-20" style="background-image: url('/pizza-gh-pages/images/image_3.jpg');">
                        </a>
                        <div class="text py-4 d-block">
                            <div class="meta">
                                <div><a href="#">Sept 10, 2018</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">The Delicious Pizza</a></h3>
                            <p>Enjoy our incredible food and beverages of our excellent chefs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-services">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Our Address</h2>                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 ftco-animate mx-auto text-center">
                <p>Looking for us on Google Maps</p>
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <span class="flaticon-bicycle"></span>
                        </div>
                        <div class="media-body">
                            <iframe style="min-width:800px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7852169352345!2d105.85759437484833!3d21.00124508872384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac0936d862b1%3A0xbcc9e7a7036e75fd!2zMjA2IEM3QiBQLiBRdeG7s25oIE1haSwgVOG7lSBkw6JuIHBo4buRIDJEK1Thu5UgZMOibiBwaOG7kSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1692413937334!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>